.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0px 20px;
  background-color: #ff4a5b;
  font-size: 20px;
  color: #fff;

  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
}

.header .backBtn img svg path {
  fill: #fff;
}